/tekore.cfg
modules/__pycache__
modules/Spotify/__pycache__
modules/VoiceAssistent/__pycache__
modules/VoiceAssistent/voice.mp3
modules/VoiceAssistent/errors/__pycache__
test.py
env
voice.mp3
modules/Spotify/tekore.cfg